@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  color: #333;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  color-scheme: light;
  flex-shrink: 0;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  touch-action: pan-y;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
